/* Replace  */
.swagger-ui.swagger-ui .topbar{
    background-color: transparent;
}

.swagger-ui.swagger-ui .topbar a{
    display:none;
}

.download-url-wrapper{
    position: absolute;
    right: 16px;
    top: 8px;
}

/* Add the new heading */
.header{
    background-color: #ce1f2f;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
}

/* reduce padding to make content look closer to heading */
.swagger-ui.swagger-ui .info{
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Make field red*/
.swagger-ui.swagger-ui .topbar .download-url-wrapper input[type="text"]{
    border-color: #a20211;
}

.swagger-ui.swagger-ui .topbar .download-url-wrapper .download-url-button{
    background-color: #a20211;
}